<header>
    <nav class="navbar navbar-expand navbar-expand-lg navbar-dark sticky-top shadow">
        <div class="container-fluid">
            <a class="navbar-brand" href="<%- url_for() %>">

                <% if(theme.logo) { %>
                    <img src="<%- url_for(theme.logo) %>" alt="nav_bar_logo" width="30" height="24"
                        class="d-inline-block align-text-top" />
                <% } %>

            <%= config.title %>
            </a>

            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav">

                    <% for(const item in theme.nav_menu) { %>

                        <li class="nav-item">
                            <a class="nav-link <% if(is_home() && theme.nav_menu[item] == "/" || theme.nav_menu[item] == path) { %>active text-primary<%}%>" aria-current="page"
                                href="<%- url_for(theme.nav_menu[item]) %>">
                                <%= item %>
                            </a>
                        </li>

                    <% } %>

                </ul>
            </div>
        </div>
    </nav>
</header>