<% if(is_home() && page.current == 1) { %>
    
    <div class="card bg-dark position-relative <% if(theme.banner) { %>h-100<% } else { %>h-50<% } %>">

        <% if(theme.banner) { %>
            <img src="<%- url_for(theme.banner) %>" class="card-img h-100" alt="banner">
        <% } %>

        <div class="p-3 card-img-overlay text-center position-absolute top-50 start-50 translate-middle">
            <p class="card-title display-1 fw-bold text-primary">
                <%= config.title %>
            </p>
            <p class="card-text h1 text-white">
                <%= config.subtitle %>
            </p>
        </div>
    </div>

<% } %>

<div class="container w-75 my-5">
    <% page.posts.forEach(post => { %>
        <%- partial("_item/item_post", {post: post})%>
    <% }); %>
</div>

<%- partial('_components/pagination', {page: page}) %>
