<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%- css(["bootstrap/css/bootstrap.min.css", "css/global.css"]) %>
    <% if(is_post()) { %><%- css("css/article.css") %><% } %>
    
    <%- js("bootstrap/js/bootstrap.bundle.min.js") %>

    <title>
        <%= config.title %>
    </title>
</head>

<body class="bg-dark">
    <%- partial("_layout/header") %>
    <%- body %>
    <footer class="h-25"> footer </footer>
</body>

</html>